        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .grid{
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-template-areas: "header header" "sidebar main";
        }
        .tasks-section{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
        }
        header{
            grid-area: header;
            height: 60px;
            background: plum;
        }
        .sidebar{
            grid-area: sidebar;
            background: purple;
            height: 100vh;
        }
        main{
            grid-area: main;
            padding: 10px;
        }
        .card{
            padding: 5px;
            border: 2px solid #c1c1c1;
            border-radius: 14px;
        }
        .form{
            flex:2;
            display: flex;
            flex-direction: column;
            gap:10px;
            padding: 10px;
        }
        .list{
            flex:3;
        }
        .field{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .field-flex{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;  
            justify-content: space-between;
        }
        .field-flex .field{
            flex:1;
        }
        textarea{
            resize:vertical;
            padding: 5px;
        }
        input{
            padding: 5px;
        }
